img {
    width: 200px;
}

nav {
    border: solid 1px;
}

header, footer {
    background-color: gray;
}

section {
    width: 400px;
    display: inline-block;
}

#second {
    background-color: hotpink;
}