*{
    box-sizing: border-box;
}

header {
    background-color: #B39BF5;
    font-weight: bold;
    padding: 30px;
}

body {
    margin: 0px;
    font-family: Arial, sans-serif;
}

p, a, li {
    line-height: 1.5em;
    font-size: 1.1em;
}
