div {
    font-size: 20px;
    font-weight: bold;
}

main {
    text-align: center;
}

#intro {
    padding: 200px 0;
}

#start {
    font-size: 50px;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

#main {
    font-size: 100px;
    padding-bottom: 20px;
}
